@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* || VARIABLES */
:root {
  /* COLORS */

  --primary-color: blue;
  --secondary-color: purple;
  --blend-color: linear-gradient(
    270deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  --blend-color-reverse: linear-gradient(
    270deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );

  --dark-color: #161a16;
  --light-color: whitesmoke;
  --dark-75: rgba(22, 26, 22, 0.75);
  --dark-50: rgba(22, 26, 22, 0.5);
  --dark-25: rgba(22, 26, 22, 0.25);
  --dark-10: rgba(22, 26, 22, 0.1);
  --dark-5: rgba(22, 26, 22, 0.05);
  --error: #fa2f17;
  --success: #0cf70c;

  /* TYPOGRAPHY */
  --ff-h: "Roboto, Arial";
  --ff-p: "Nunito, sans-serif";

  /* Sizes derived from typescale.com using 1.250 as the smallest and 
     1.414 as the largest scales respectively*/
  --p: clamp(18px, calc(1.16666 * 1vw), 21px);
  --h1: clamp(55px, calc(6.61111 * 1vw), 119px);
  --h2: clamp(44px, calc(4.46666 * 1vw), 84px);
  --h3: clamp(36px, calc(3.33333 * 1vw), 60px);
  --h4: clamp(29px, calc(2.33333 * 1vw), 42px);
  --h5: clamp(23px, calc(1.66666 * 1vw), 30px);
  --h6: clamp(18px, calc(1.16666 * 1vw), 21px);

  /* PADDING/MARGINS */
  --px8: calc(0.44444 * 1vw); /* 8px @ 1800 --> 8 / 1800 * 100 = 0.444 */
  --px16: calc(0.88888 * 1vw); /* 16px @ 1800 --> 16 / 1800 * 100 = 0.888 */
  --px24: calc(1.33333 * 1vw); /* 24px @ 1800 --> 24 / 1800 * 100 = 1.333 */
  --px32: calc(1.77777 * 1vw); /* 32px @ 1800 --> 32 / 1800 * 100 = 1.777 */
  --px48: calc(2.66666 * 1vw); /* 48px @ 1800 --> 48 / 1800 * 100 = 2.666 */
  --px64: calc(3.55555 * 1vw); /* 64px @ 1800 --> 64 / 1800 * 100 = 3.555 */
  --px96: calc(5.33333 * 1vw); /* 96px @ 1800 --> 96 / 1800 * 100 = 3.555 */
  --px128: calc(7.11111 * 1vw); /* 128px @ 1800 -->  128 / 1800 * 100 = 7.111 */
  --px256: calc(14.22222 * 1vw);
  --px384: calc(21.33333 * 1vw); /* Hero section */
  --px512: calc(28.44444 * 1vw);

  /* LINE HEIGHTS */
  --px139: calc(7.72222 * 1vw);
}

/* || GENERAL STYLES */

body {
  background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: var(--px32);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-h);
  font-style: normal;
  line-height: 1.3;

  color: var(--dark-color);
}

h1 {
  font-weight: 700;
  font-size: var(--h1);
}

h2 {
  font-weight: 700;
  font-size: var(--h2);
}

h3 {
  font-weight: 300;
  font-size: var(--h3);
}

h4 {
  font-weight: 700;
  font-size: var(--h4);
}

h5 {
  font-weight: 700;
  font-size: var(--h5);
}

h6 {
  font-weight: 700;
  font-size: var(--h6);
}

p,
ul,
div,
button {
  font-family: var(--ff-p);
  font-style: normal;
  font-weight: 400;
  font-size: var(--p);
  line-height: 30px;
  color: var(--dark-75);
}

/* Hacky solution: 
  Problem: I wanted my bullets to line up with the text of the container. 
           Using "inside" position created a new problem where the subsequent
           lines would also line up with the text of the container rather than
           indent as desired.
  Source: https://stackoverflow.com/questions/10428720/how-to-keep-indent-for-second-line-in-ordered-lists-via-css#:~:text=I%20believe%20this%20will%20do%20what%20you%20are%20looking%20for */
ul {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block; /* removes gap since images are inline by default */
  /* Image responsiveness */
  max-width: 100%; /* of parent */
  height: auto;
}

input,
body,
textarea,
textarea {
  font: inherit;
}

/* || UTILITY CLASSES */
.bold {
  font-weight: 700;
}
.blend-bg {
  background: var(--blend-color);
}

.blend-text {
  background: var(--blend-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

/* || SKIP LINK */
.skip-link {
  position: absolute;
  transform: translateX(-200%);
  transition: transform 0.3s;
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  font-size: var(--p);
}

.skip-link:focus {
  position: static;
  transform: translateX(0);
}

section {
  padding: 0px var(--px128);
  margin: 0px 0px var(--px256) 0px;
  text-align: center;
}

a {
  display: flex;
  flex-direction: column;
}

/* || ICONS/SVG */
.icons__skills {
  height: var(--px64);
  color: var(--dark-color);
}

.icons__icon {
  height: 18px;
  height: var(--px32);
  height: clamp(18px, var(--px32), 100px);
  /* color: var(--dark-color); */
  color: inherit;
  width: auto;
}

.icons__icon:hover {
  color: var(--primary-color);
}

/* || LOGO */
.logo {
  height: var(--px64);
  width: auto;
}

.logo__TopFill,
.logo__BotFill {
  fill: var(--primary-color);
  stroke: var(--dark-color);
}

.logo__FNameOutline {
  fill: var(--dark-color);
}
.logo__FNameFill {
  fill: var(--dark-color);
}
.logo__LName {
  fill: var(--primary-color);
}

/* When we hover over the logo, I want the colors to inverse */
.logo:hover [class^="logo__"] {
  fill: var(--dark-color);
  stroke: var(--dark-color);
}

.logo:hover .logo__FNameFill,
.logo:hover .logo__FNameOutline {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}
/* || BUTTONS */

button {
  border: none;
  width: 100%;
}

.button__link,
button {
  border-radius: 100px;
  padding: var(--px24) var(--px48);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--px16);

  font-weight: 700;
  font-size: var(--h6);
}

.button__primary {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

  color: var(--light-color);
  background: var(--blend-color);
}

.button__primary:hover {
  background: var(--blend-color-reverse);
  gap: 24px;
}

.button__primary:active {
  opacity: 60%;
}

.button__secondary {
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
}

.button__secondary:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.button__secondary:active {
  color: var(--light-color);
  background-color: var(--dark-75);
}

/* || NAVBAR */
nav {
  border-bottom: 1px solid rgba(22, 26, 22, 0.1);
  margin-bottom: var(--px128);
}
.nav__container {
  display: flex;
  justify-content: space-between;
  padding: var(--px32) var(--px64);
  align-items: center;
}
.nav__links-container {
  display: flex;
  gap: var(--px64);
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
}

nav a {
  font-weight: 700;
  font-size: var(--h6);
  line-height: 25px;
  text-decoration: none;
  color: var(--dark-color);
}

nav a:hover {
  color: var(--primary-color);
}

/* || FOOTER */
.footer__container {
  display: flex; /* Links || &cpy || Logo */
  justify-content: space-between;
  padding: var(--px32) var(--px64);
  align-items: center;
  border-top: 1px solid var(--dark-5);
}

.footer__links-container {
  display: flex;
  gap: var(--px64);

  color: var(--dark-color);
}

/* Links have inherit by default, so we must target
   them specificially here */
.footer__links-container *:hover {
  color: var(--primary-color);
}

footer p {
  margin-bottom: 0px; /* p has margin by default. Don't want it in footer  */
  font-size: 15px;
}

footer {
  border-top: 1px solid var(--dark-25);
}

@media screen and (max-width: 800px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__links-container {
    margin-bottom: 16px;
  }
}
/* || HERO */
.hero {
  padding: 0px var(--px128); /* 128 section + 128 = 256 total padding */
  /* display: flex;
  flex-direction: column; */
  text-align: center;
}

.hero p {
  padding: 0px var(--px256); /* Shrinks the abstract to a more pleasing size */
}

.hero button {
  margin-top: var(--px96); /* More separation between button and hero content */
}

@media screen and (max-width: 800px) {
  .hero p {
    padding: 0px 0px;
  }
}

/* || SKILLS */
.skills__icon-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__icon-container * {
  background-color: var(--dark-10);
  border-radius: 10px;
  padding: var(--px32);
}

/* || PROJECTS */
.project__double-cols {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--px32);
  margin-bottom: var(--px32);
  border-bottom: 1px solid var(--dark-25);
}
.project__container {
  padding: var(--px64) var(--px128);
  margin-bottom: var(--px128);
}

/* Want Title, Content, Summary, and Stack to have the light color */
.project__content * {
  color: var(--light-color);
}

.project__column {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
  margin-right: 24px;
}

.project__stackWrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project__linksWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--px16);
}

#projects {
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .project__double-cols {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .project__linksWrapper {
    /* justify-content: space-between; */
    display: block;
  }
}

/* || CONTACT */
input,
textarea {
  margin-bottom: 32px;
  resize: vertical;
}

.contact__NameEmail {
  display: flex;
  gap: 8px;
}

.contact__input {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.form__input {
  background-color: var(--dark-10);
  border: none;
  border-radius: 8px;
  padding: var(--px24) var(--px16);
}

.form__input--error {
  border: 3px solid var(--error);
}

.form__input--success {
  border: 3px solid var(--success);
}

@media screen and (max-width: 900px) {
  .contact__stackColumns {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .contact__NameEmail {
    display: block;
  }
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
}

.even-columns {
  display: flex;
  gap: 24px;
}
